# HTTP requests para descargar feeds remotos
requests

# Manejo robusto de XML
lxml

# Procesado granular de HTML en descriptions
beautifulsoup4

# Expresiones regulares extendidas y utilidades
regex
